/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header {
    background-color: navy;
    color: white;
    padding: 5px 10px;
    font-size: 1.25em;
}

header img {
    width: 25%;
    height: 25%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: skyblue;
    color: navy;
}

nav a {
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

main {
    background-color: lightgray;
    margin: 10px;
}

footer {
    display: block;
    background-color: skyblue;
    color: navy;
}