/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header {
    background-color: navy;
    color: white;
    padding: 5px 10px;
    font-size: 1.25em;
}

main {
    background-color: lightgray;
}

footer {
    display: block;
    background-color: skyblue;
    color: navy;
}